/* ------ VARS ------ */
:root{
    --white: #f2f4f3;
    --white-darker: #cfd7d3;
    /* --color1: #0B6B73;
    --color2: #2EB6AB;
    --color3: #ADDADD; */
    --color1: #08E6FF;
    --color1-darker: #0091a1;
    --color2: #2EB6AB;
    --color3: #00F2CA;
    --color3-lighter: #72ffe8;
    --color3-lilighter: #f2fffd;
    --black: #1d1d1d;
    --lessblack: #343434;
    --ease-slow-fast-slow: cubic-bezier(.01,.93,.09,.98);
    --ease-slow-fast: cubic-bezier(.68,-0.01,1,.52);
    --max-width: 1200px;
}
/* ------ RESET ALL ------ */
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    text-transform: uppercase;
}

h1{
    font-weight: 900;
}

::selection{
    color: var(--white);
    background: var(--color2);
}

body{
    background: var(--white);
}

body[data-fixed="true"]{
    overflow: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

.padding{
    padding-left: 24px;
    padding-right: 24px;
}

.margin-first{
    margin-top: 220px;
}

.max-width{
    max-width: var(--max-width);
    margin: 0 auto;
}

.cta{
    background: var(--black);
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 300ms ease-out, transform 300ms ease-out, color 300ms ease-out, box-shadow 300ms ease-out;
    color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cta:hover{
    background: var(--lessblack);
    transform: scale(1);
    transition: background 100ms ease-out, transform 100ms ease-out, color 100ms ease-out, box-shadow 100ms ease-out;
    transform: scale(0.99);
    color: var(--white);
}

.cta > img{
    height: 24px;
}

.underline-link{
    position: relative;
    cursor: pointer;
}

.underline-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--black);
    transform: translateY(100%);
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    opacity: 0;
}

.underline-link:hover::after{
    opacity: 1;
    transform: translateY(0%);
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}

section > h2{
    font-weight: 700;
    font-size: 1.9rem;
    text-align: center;
}

.contact-active, .contact-inactive{
    font-weight: 700;
    font-size: 1rem;
    user-select: none;
    color: var(--white-darker);
    padding: 2px 4px;
    border-radius: 4px;
    justify-self: flex-start;
}

.contact-active{
    background: #6cac44;
}
.contact-inactive{
    background: #cc3344;
    cursor: not-allowed;
}

hr.separator {
    border: unset;
    border-top: 2px solid #bbb;
    margin: 10px 0px;
  }

/* ------ NAVBAR ------ */


#nav-element[data-bg="visible"] .burger-line{
    background: var(--black);
}
#nav-element[data-bg="visible"]{
    background: var(--white);
}
#nav-element[data-view="hidden"]{
    transform: translateY(-100%);
    transition: background 120ms ease-out, transform 600ms var(--ease-slow-fast);
}
#nav-element{
    position: fixed;
    top: 0; left: 0;
    background: transparent;
    padding: 0px 24px;
    width: 100%;
    transition: background 120ms ease-out, transform 600ms var(--ease-slow-fast-slow), color 300ms ease-out;
    height: auto;
    color: var(--black);
    z-index: 10;
}

.navbar{
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navbar-left a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.navbar-left a img{
    width: 60px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.navbar-left a p{
    font-weight: 700;
    font-size: 1.7rem;
}

.navbar-right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.navbar-right ul li a{
    padding: 10px;
    font-weight: 500;
    opacity: 0.5;
    transition: opacity 100ms ease-out;
    transition: text-shadow 500ms ease-out 200ms;
}

.navbar-right ul li:last-of-type a{
    padding-right: 0px;
}
.navbar-right ul li a:hover{
    opacity: 1;
    transition: opacity 300ms ease-out;
}
.active{
    opacity: 1!important;
}

/* ------ MENU BURGER ------ */

.burger-button{
    display: none;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    padding: 20px;
    margin-right: -20px;
}

.burger-button[data-state="open"] div:nth-of-type(1){
    /* transform: translateY(6px) rotate(-45deg); */
    translate: 0px 6px;
    rotate: -45deg;
    transition: translate 300ms, rotate 800ms 300ms var(--ease-slow-fast-slow);
}
.burger-button[data-state="open"] div:nth-of-type(2){
    opacity: 0;
    transition: opacity 0ms 300ms;
}
.burger-button[data-state="open"] div:nth-of-type(3){
    translate: 0px -6px;
    rotate: 45deg;
    transition: translate 300ms, rotate 800ms 300ms var(--ease-slow-fast-slow);
}

.burger-button[data-state="close"] div:nth-of-type(1){
    transition: rotate 300ms var(--ease-slow-fast-slow), translate 800ms 300ms var(--ease-slow-fast-slow);
}
.burger-button[data-state="close"] div:nth-of-type(2){
    transition: opacity 0ms 300ms;
}
.burger-button[data-state="close"] div:nth-of-type(3){
    transition: rotate 300ms var(--ease-slow-fast-slow), translate 800ms 300ms var(--ease-slow-fast-slow);
}

.burger-line{
    display: block;
    width: 20px;
    height: 3px;
    background: var(--white);
    transition: transform 600ms ease-out, background 600ms ease-out;
}

.burger-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px; right: 0;
    background: var(--white);
    transition: background 300ms ease-out;
    backdrop-filter: blur(10px);
    height: calc(100vh - 100px);
    height: calc(100dvh - 100px);
    overflow: hidden;
}
.burger-menu[data-state="close"]{
    width: 0%;
    transition: width 300ms var(--ease-slow-fast), background 300ms ease-out;
}
.burger-menu[data-state="open"]{
    width: 250px;
    transition: width 1200ms var(--ease-slow-fast-slow), background 300ms ease-out;
}

#burger-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------ FOOTER ------ */

#footer{
    padding: 100px 10px;
}

.footer-container{
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 40px;
}
.footer-left-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: 40px;
}
.footer-left-logo img{
    width: 20px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;

}
.footer-right{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
.footer-right ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    opacity: 0.2;
    transition: opacity 300ms ease-out;
    margin-top: 40px;
}
.footer-copyright:hover{
    opacity: 1;
}

.footer-adress{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.footer-socials{
    margin-top: 10px;
}
.footer-socials a img{
    width: 28px;
    height: auto;
}
.footer-socials a img:hover{
    color: var(--color2);
}
.footer-socials a svg{
    transition: filter 300ms ease-out;
}
.footer-socials a svg:hover{
    filter: invert(55%) sepia(56%) saturate(485%) hue-rotate(126deg) brightness(98%) contrast(94%);
}


@media screen and (min-width: 768px) {
    #burger-menu{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #nav-element{
        padding: 0px 10px;
    }
    #nav-element a{
        text-shadow: none;
    }
    #nav-menu{
        display: none;
    }
    .burger-button{
        display: flex;
    }
    .padding{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-container{
        flex-direction: column;
    }
    

}

@keyframes elementAppears {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}