:root{
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 30s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}
/* -------- HOME -------- */

.team-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.person-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 20px;
    border-radius: 12px;
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
}

.person-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 0px 0 var(--color2);
}

.person-img-container{
    width: 210px;
    height: auto;
    border-radius: 6px;
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.person-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 300ms ease-out;
    pointer-events: none;
    user-select: none;
}

.person-container:hover > .person-img-container img{
    transform: scale(1.05);
}

/* -------- HERO -------- */

.hero{
    background: url("/img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100dvh/3);
    height: calc(100vh/3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-container{
    margin: 0 auto;
    max-width: calc((2/3)*var(--max-width));
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white);
    padding: 40px 120px;
    transform: translateY(calc(100dvh/6));
    z-index: 2;
    text-align: center;
    border-radius: 15px;
}

.hero-text-container > h1{
    font-family: "Della Respira", serif;
    font-size: 3rem;
}

.hero-text-container > a{
    margin-top: 20px;
}

/* -------- ABOUT -------- */

.about{
    background: var(--white-darker);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.about-right > img{
    width: calc(100vw / 3);
    max-width: 420px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.about-left{
    width: calc(100vw / 3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.about-left > h2{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 1.9rem;
}
.about-left > p{
    text-align: justify;
}

.partner{
    padding-top: 50px;
    padding-bottom: 50px;
}

.partner-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.partner-container > a > img{
    height: 60px;
    width: auto;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.partner-container > a > img:hover{
    opacity: 0.8;
    transform: scale(1);
    transition: transform 100ms ease-out, opacity 100ms ease-out;
}
/* ------- ALBUM ------- */
.album{
    overflow: hidden;
    mask-image: linear-gradient(
        var(--mask-direction, to right),
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
      );
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap);
}

.album-content{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll-x var(--duration) linear infinite;
}

.album-content2{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll-x var(--duration) linear infinite;
}

.album-img {
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    height: 240px;
    border-radius: 15px;
}

/* ------- CONTACT ------- */

.contact{
    background: var(--white-darker);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-top{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-top-left, .contact-top-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.contact-top h3{
    font-weight: 700;
    font-size: 1.2rem;

}
.contact-top h4{
    padding-top: 4px;
    text-decoration: underline;
}

.form{
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .hero-text-container{
        padding: 20px;
    }
    .about-container{
        flex-direction: column;
        justify-content: stretch;
    }
    .about-right > img{
        width: 100%;
        max-width: none;
        aspect-ratio: 16/9;
    }
    .about-left{
        width: unset;
    }
}

@keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }